body{
 background:black;
 color:#ff4d88;
 font-family:"Courier New", monospace;
 margin:0; overflow:hidden;
 text-align:center;
}

.hidden{display:none;}
.screen{
 position:absolute; top:50%; left:50%;
 transform:translate(-50%,-50%);
 width:80%; max-width:800px;
 font-size:20px; line-height:1.6;
}
.cursor{animation:blink 1s infinite;}
@keyframes blink{50%{opacity:0;}}

/* DECRYPT */
.bar{width:300px;height:10px;border:1px solid #ff4d88;margin:auto;margin-top:20px;}
#progress{height:100%;width:0%;background:#ff4d88;}

/* GLITCH */
.glitch{
 font-size:80px; color:#ff4d88;
 animation:glitch 1s infinite;
}
@keyframes glitch{
 0%{text-shadow:2px 0 red,-2px 0 blue;}
 25%{text-shadow:-2px 0 red,2px 0 blue;}
 50%{text-shadow:2px 2px red,-2px -2px blue;}
 75%{text-shadow:-2px -2px red,2px 2px blue;}
 100%{text-shadow:0 0 20px #ff4d88;}
}

/* START */
#startScreen{
 position:absolute; top:50%; left:50%;
 transform:translate(-50%,-50%);
 cursor:pointer;
}

/* FINALE */
.photo-container{
 perspective:1000px;
}
.photo-big{
 width:500px;
 max-width:90%;
 border-radius:25px;
 box-shadow:0 0 60px #ff4d88;
 margin:0 auto 30px;
 display:block;
 transform:scale(0);
 animation:photo-zoom 1.2s forwards;
}
@keyframes photo-zoom{0%{transform:scale(0)}100%{transform:scale(1)}}

#romantic-text{
 font-size:22px; color:#ffb3c6;
 margin-top:20px; max-width:800px;
 line-height:1.6; text-align:center;
 font-family:"Courier New", monospace;
 opacity:0;
 transition:opacity 1.5s ease-in-out;
}

.love{
 font-size:80px;
 color:#ff4d88;
 text-shadow:0 0 30px #ff4d88,0 0 60px #ff1a66;
 animation:pulse 1.5s infinite;
 opacity:0;
 transition:opacity 1s;
}
@keyframes pulse{50%{transform:scale(1.1);}}

/* BUTTONS */
button{
 padding:12px 25px; margin:10px;
 font-size:18px; background:#ff4d88;
 border:none;color:white; border-radius:10px; cursor:pointer;
 transition:.3s;
}
button:hover{transform:scale(1.2); box-shadow:0 0 15px #ff4d88;}

canvas{position:fixed;top:0;left:0;pointer-events:none;}
